/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  section {
    padding: 50px 20px;
  }
  
  /* Specific Section Styles */
  #home {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  #about {
    background-color: #ddd;
  }
  
  #projects {
    background-color: #f2f2f2;
  }
  
  .project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #contact {
    background-color: #ddd;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    header nav ul li {
      display: block;
      margin: 10px 0;
    }
  }
  